<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACM Rating</title>
</head>
<body>
    <h1>
        ACM rating
    </h1>
    <h2>
        Paste an url to the rating table to the form.
    </h2>

    <form action="/" method="POST">
        <input type="url" name="url" placeholder="An URL...">
        <button type="submit">Send</button>
    </form>

    <table border="1" cellspacing="0" style="margin: 40px 0 0;">
        <thead>
            <tr>
                <th colspan="2">All links</th>
            </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr>
                <td>{{ link[1] }}</td>
                <td><a href="{{ request.host }}/{{ link[0] }}" target="_blank">{{ request.host }}/{{ link[0] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
